{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <header class="masthead" style="background-image: url('{% static 'img/article-bg.png' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
              <h1>{{ object.header }}</h1>
              <span class="subheading">{{ object.summary }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
        <div class="row row-clickable" data-href="">
          <div class="col-lg-8 col-md-10 mx-auto">
              <p>{{ object.text|safe }}</p>
          </div>
        </div>
  </div>

  <hr>

{% endblock %}
