{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Dan Nepejchal's task for EP</h1>
            <span class="subheading">Welcome to my website made for the software developer job tender at EP</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
                Please visit /admin page to see how to configure this page
            </h2>
          </a>
          <p class="post-meta">In app linux_in_schools you can create articles (web-flyers) about
              this topic</p>
        </div>
        <hr>
      </div>
    </div>
  </div>

{% endblock %}
